<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <category label="32001">
        <setting label="32002" type="bool" id="inmenu" default="true"/>
        <setting label="32003" type="enum" id="client_id" lvalues="32004|32005"/>
        <setting label="32024" type="bool" id="use_id_lookup" default="true" />
    </category>
    <category label="32010">
        <setting label="32011" type="lsep"/>
        <setting label="32016" type="enum" id="movie_details" lvalues="32014|32013|32017|32015"/>
        <setting label="32012" type="enum" id="movie_state" lvalues="32013|32014|32017|32015"/>
        <setting label="32023" type="bool" id="display_time" default="true"/>
        <setting label="32020" type="lsep"/>
        <setting label="32016" type="enum" id="episode_details" lvalues="32022|32021|32013|32017|32015"/>
        <setting label="32012" type="enum" id="episode_state" lvalues="32021|32022|32013|32017|32015"/>
    </category>
</settings>